* linguist-language=JavaScript
* linguist-language=PHP
<------------------------->
*.js linguist-detectable=true
*.html linguist-detectable=true
*.css linguist-detectable=false
*.json linguist-detectable=false


